@use '../abstracts/mixins' as mixin;
@use '../abstracts/functions' as func;
@use '../abstracts/colors' as color;
@use '../base/typography' as font;

/* Footer Section */

.footer {
    width: 100%;
    max-width: func.pixel-to-rem-convertor(1850);
    padding: func.pixel-to-rem-convertor(35);
    background-color: color.$color-white;
    margin-top: func.pixel-to-rem-convertor(110);
    position: relative;

    &__image-wrapper {
        position: absolute;
        right: 0;
        display: none;
    }

    &__image {
        height: 100%;
        width: 100%;
    }

    &__container {
        @include mixin.flex-center(center, center, column);
        max-width: func.pixel-to-rem-convertor(1500);
        margin: 0 auto;
        gap: func.pixel-to-rem-convertor(60);
    }

    &__brand {
        @include mixin.flex-center(flex-start, center, column);
        gap: func.pixel-to-rem-convertor(33);
    }

    &__brand-desc {
        max-width: func.pixel-to-rem-convertor(500);
        color: color.$color-description;
        @include mixin.responsive-font-apply(font.$footer-description-font);
    }

    &__logo {
        gap: func.pixel-to-rem-convertor(12);
        @include mixin.flex-center(center, flex-start);
    }

    &__logo-img {
        width: func.pixel-to-rem-convertor(40);
    }

    &__logo-title {
        font-size: func.pixel-to-rem-convertor(24);
        color: color.$color-dark;
    }

    &__socials {
        gap: func.pixel-to-rem-convertor(33);
        @include mixin.flex-center(center, flex-start);
    }

    &__social-link {
        font-size: func.pixel-to-rem-convertor(30);
        color: color.$color-white;
        transition: transform 0.2s ease;
        @include mixin.flex-center;
    }

    &__nav {
        width: 100%;
        gap: func.pixel-to-rem-convertor(40);
        margin-top: func.pixel-to-rem-convertor(8);
        @include mixin.flex-center(flex-start, center, column);
    }

    &__group {
        padding-bottom: func.pixel-to-rem-convertor(12);
        width: 100%;
    }

    &__heading {
        width: 100%;
        padding: func.pixel-to-rem-convertor(12) 0;
        font-size: func.pixel-to-rem-convertor(24);
        color: color.$color-dark;
        font-family: inherit;
        cursor: pointer;
        text-align: left;
        @include mixin.flex-center(center, space-between);
    }

    &__chevron {
        font-size: func.pixel-to-rem-convertor(20);
        transition: transform 0.3s ease;
        display: block;
    }

    &__list {
        display: none;
        gap: func.pixel-to-rem-convertor(16);
        width: func.pixel-to-rem-convertor(180);
        font-family: font.$font-inter;

        &--is-open {
            @include mixin.flex-center(flex-start, center, column);
        }
    }

    &__item {
        font-size: func.pixel-to-rem-convertor(16);
    }

    @include mixin.media-query('md') {
        padding: func.pixel-to-rem-convertor(70);
        margin-top: func.pixel-to-rem-convertor(100);

        &__image-wrapper {
            @include mixin.flex-center;
            position: absolute;
            bottom: func.pixel-to-rem-convertor(80);
        }

        &__brand-desc {
            max-width: 100%;
        }

        &__nav {
            gap: func.pixel-to-rem-convertor(38);
            @include mixin.flex-center(flex-start, space-between, row);
        }

        &__group {
            border-bottom: none;
            padding-bottom: 0;
        }

        &__heading {
            cursor: default;
            padding: 0 0 func.pixel-to-rem-convertor(20) 0;
        }

        &__chevron {
            display: none;
        }

        &__list {
            @include mixin.flex-center(flex-start, center, column);
            max-width: func.pixel-to-rem-convertor(112);
            gap: func.pixel-to-rem-convertor(30);
            display: flex;
            padding-top: 0;
        }
    }

    @include mixin.media-query('lg') {
        margin-top: func.pixel-to-rem-convertor(215);
        padding-right: func.pixel-to-rem-convertor(40);

        &__image-wrapper {
            @include mixin.flex-center;
            bottom: func.pixel-to-rem-convertor(0);
            height: func.pixel-to-rem-convertor(420);
        }

        &__container {
            @include mixin.flex-center(flex-start, space-between, row);
        }

        &__logo-img {
            width: func.pixel-to-rem-convertor(50);
        }

        &__logo-title {
            font-size: func.pixel-to-rem-convertor(30);
        }

        &__socials {
            padding-top: func.pixel-to-rem-convertor(40);
            gap: func.pixel-to-rem-convertor(40);
        }

        &__social-link {
            font-size: func.pixel-to-rem-convertor(40);
        }

        &__brand {
            gap: func.pixel-to-rem-convertor(45);
        }

        &__brand-desc {
            max-width: func.pixel-to-rem-convertor(750);
        }

        &__nav {
            flex-grow: 1;
            max-width: func.pixel-to-rem-convertor(700);
        }

        &__logo-img {
            width: func.pixel-to-rem-convertor(50);
        }

        &__list {
            @include mixin.flex-center(flex-start, center, column);
            max-width: func.pixel-to-rem-convertor(144);
            gap: func.pixel-to-rem-convertor(50);
        }

        &__item {
            font-size: func.pixel-to-rem-convertor(20);
        }

        &__heading {
            padding-bottom: func.pixel-to-rem-convertor(42);
        }
    }
}
