@use '../abstracts/mixins' as mixin;
@use '../abstracts/functions' as func;
@use '../abstracts/colors' as color;
@use '../base/typography' as font;
@use 'sass:map';

/* ------- Hero Section -------- */

.hero {
    @include mixin.flex-center;
    width: 100%;
    max-width: 1750px;
    position: relative;
    height: fit-content;
    flex-direction: column;
    gap: func.pixel-to-rem-convertor(30);

    &__design-info-wrapper {
        @include mixin.flex-center;
        max-width: 1500px;
        flex-direction: column;
        width: 100%;
        gap: func.pixel-to-rem-convertor(50);
    }

    &__design {
        top: func.pixel-to-rem-convertor(50);
        position: relative;
        margin: 0 auto;
        width: 100%;
        background: url('/assets/images/earth.png') no-repeat top / contain;
    }

    &__design-earth {
        position: absolute;
        z-index: 1;
        top: 0;
        width: 100%;
        left: 0;
    }

    &__design-earth-image {
        width: 100%;
        object-fit: contain;
        object-position: top;
        z-index: -1;
    }

    &__design-images {
        @include mixin.flex-center;
        width: 100%;
        min-height: 400px;
        flex-direction: row;
        gap: func.pixel-to-rem-convertor(16);
        top: func.pixel-to-rem-convertor(10);
        padding: 0 func.pixel-to-rem-convertor(32);
        padding-top: func.pixel-to-rem-convertor(8);
    }

    &__design-images-left {
        @include mixin.flex-center(center, space-evenly);
        height: 100%;
        width: 43%;
        z-index: 1;
        gap: func.pixel-to-rem-convertor(20);
        flex-direction: column;
        padding: func.pixel-to-rem-convertor(7) 0;
        position: relative;
    }

    &__design-images-left-wrapper {
        @include mixin.flex-center(center, flex-end);
        max-width: 8.7rem;
        aspect-ratio: 0.9/1;
    }

    &__design-images-left-travel {
        height: 100%;
        width: 100%;
        min-width: 135px;
        object-fit: cover;
        object-position: center;
        border-radius: func.pixel-to-rem-convertor(25);
    }

    &__design-images-left-send {
        @include mixin.flex-center;
        position: absolute;
        background-color: color.$color-pink;
        border-radius: 50%;
        box-shadow: 0px func.pixel-to-rem-convertor(8)
            func.pixel-to-rem-convertor(16) 0px color.$color-shadow;
        color: color.$color-white;
        top: func.pixel-to-rem-convertor(140);
        padding: func.pixel-to-rem-convertor(9);
        left: 0;
        transform: translateX(-60%);
    }

    &__design-images-right {
        @include mixin.flex-center;
        z-index: 1;
        position: relative;
        padding: func.pixel-to-rem-convertor(8) 0;
    }

    &__design-images-right-wrapper {
        @include mixin.flex-center(center, flex-start);
        max-width: 8.7rem;
        min-width: 8.7rem;
        aspect-ratio: 1/1.5;
    }

    &__design-images-right-travel {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 25px;
    }

    &__design-images-right-location {
        @include mixin.flex-center;
        position: absolute;
        background-color: color.$color-white;
        padding: func.pixel-to-rem-convertor(8) func.pixel-to-rem-convertor(10);
        box-shadow: 0px func.pixel-to-rem-convertor(12)
            func.pixel-to-rem-convertor(20) 0px color.$color-shadow;
        gap: func.pixel-to-rem-convertor(5);
        left: 70%;
        bottom: func.pixel-to-rem-convertor(40);
        min-width: func.pixel-to-rem-convertor(90);
        border-radius: 15px;
        font-size: func.pixel-to-rem-convertor(14);
    }

    &__design-images-right-detail {
        color: color.$color-dark;
        font-size: func.pixel-to-rem-convertor(10);
    }

    &__design-images-right-person {
        @include mixin.flex-center;
        position: absolute;
        background-color: color.$color-orange;
        border-radius: 50%;
        box-shadow: 0px func.pixel-to-rem-convertor(8)
            func.pixel-to-rem-convertor(16) 0px color.$color-shadow;
        color: color.$color-white;
        padding: func.pixel-to-rem-convertor(10);
        font-size: func.pixel-to-rem-convertor(14);
        top: func.pixel-to-rem-convertor(237);
        left: 25%;
    }

    &__info {
        @include mixin.flex-center;
        flex-direction: column;
        position: relative;
        width: 100%;
        text-align: center;
        gap: clamp(
            func.pixel-to-rem-convertor(20),
            4vw,
            func.pixel-to-rem-convertor(30)
        );
    }

    &__info-heading {
        color: color.$color-dark;
        text-align: center;
        width: 100%;
        @include mixin.responsive-font-apply(font.$hero-heading-font);
    }

    &__info-highlight-heading {
        color: color.$color-pink;
    }

    &__info-detail {
        text-align: center;
        color: color.$color-description;
        @include mixin.responsive-font-apply(
            font.$description-font,
            font.$font-inter
        );
    }

    &__info-badge {
        @include mixin.flex-center(center, space-evenly);
        border-radius: 30px;
        gap: func.pixel-to-rem-convertor(18);
        background-color: transparent;
        box-shadow: 0 func.pixel-to-rem-convertor(8)
            func.pixel-to-rem-convertor(16) 0px color.$color-shadow;
        padding: func.pixel-to-rem-convertor(15) func.pixel-to-rem-convertor(20);
        font-size: func.pixel-to-rem-convertor(20);
    }

    &__info-badge-tagline {
        font-size: func.pixel-to-rem-convertor(14);
        color: color.$color-pink;
    }

    &__info-actions {
        @include mixin.flex-center;
        flex-direction: column;
        gap: func.pixel-to-rem-convertor(16);
        width: 100%;
        margin-top: func.pixel-to-rem-convertor(10);
    }

    &__info-button-wrapper {
        @include mixin.flex-center;
        margin-top: func.pixel-to-rem-convertor(13);
        height: fit-content;
        width: 100%;
        flex-direction: column;
        gap: func.pixel-to-rem-convertor(25);
    }

    &__triangular-design {
        position: absolute;
        display: none;
    }

    &__brand-images-wrapper {
        @include mixin.flex-center;
        position: relative;
        flex-wrap: wrap;
        gap: clamp(
            func.pixel-to-rem-convertor(16),
            3vw,
            func.pixel-to-rem-convertor(24)
        );
        margin-top: func.pixel-to-rem-convertor(27);
    }

    &__brand-list {
        @include mixin.flex-center;
        flex-wrap: wrap;
        gap: clamp(
            func.pixel-to-rem-convertor(16),
            9vw,
            func.pixel-to-rem-convertor(24)
        );
    }

    &__brand-item {
        @include mixin.flex-center;
        width: 29%;

        &:nth-child(4) {
            width: 20%;
        }
    }

    &__brand-images {
        width: 100%;
        height: auto;
    }

    /* ------- Medium Breakpoint (md) ------- */

    @include mixin.media-query('md') {
        gap: clamp(
            func.pixel-to-rem-convertor(40),
            6vw,
            func.pixel-to-rem-convertor(60)
        );

        &__design {
            margin-top: func.pixel-to-rem-convertor(35);
            background-size: 80vw;
        }

        &__design-info-wrapper {
            gap: func.pixel-to-rem-convertor(100);
        }

        &__design-images {
            height: 100%;
            gap: clamp(
                func.pixel-to-rem-convertor(20),
                4vw,
                func.pixel-to-rem-convertor(36)
            );
            padding-top: func.pixel-to-rem-convertor(70);
            top: func.pixel-to-rem-convertor(54);
        }

        &__design-images-left {
            width: fit-content;
            z-index: 1;
            gap: func.pixel-to-rem-convertor(30);
        }

        &__design-images-left-wrapper {
            max-width: 17rem;
            aspect-ratio: 0.9;
        }

        &__design-images-left-send {
            padding: func.pixel-to-rem-convertor(15)
                func.pixel-to-rem-convertor(15);
            left: 0;
            top: func.pixel-to-rem-convertor(275);
            transform: translateX(-63%);
            font-size: func.pixel-to-rem-convertor(36);
        }

        &__design-images-right {
            height: 100%;
            z-index: 1;
        }

        &__design-images-right-travel {
            width: 100%;
        }

        &__design-images-right-wrapper {
            max-width: 17rem;
        }

        &__design-images-right-location {
            left: 18vw;
            bottom: func.pixel-to-rem-convertor(60);
            width: clamp(
                func.pixel-to-rem-convertor(140),
                16vw,
                func.pixel-to-rem-convertor(170)
            );
            border-radius: 30px;
            padding: func.pixel-to-rem-convertor(16)
                func.pixel-to-rem-convertor(10);
            gap: func.pixel-to-rem-convertor(8);
            font-size: func.pixel-to-rem-convertor(21);
        }

        &__design-images-right-detail {
            font-size: func.pixel-to-rem-convertor(14);
        }

        &__design-images-right-person {
            padding: func.pixel-to-rem-convertor(15)
                func.pixel-to-rem-convertor(15);
            font-size: func.pixel-to-rem-convertor(36);
            top: func.pixel-to-rem-convertor(470);
            left: func.pixel-to-rem-convertor(70);
        }

        &__info {
            width: 80vw;
            margin: 0 auto;
            top: func.pixel-to-rem-convertor(10);
        }

        &__info-heading {
            padding-top: func.pixel-to-rem-convertor(23);
            padding-right: func.pixel-to-rem-convertor(10);
            text-align: center;
            max-width: 600px;
        }

        &__info-detail {
            max-width: 460px;
            text-align: center;
        }

        &__info-actions {
            flex-direction: row;
            gap: func.pixel-to-rem-convertor(20);
        }

        &__info-button-wrapper {
            flex-direction: row;
            gap: func.pixel-to-rem-convertor(15);
        }

        &__triangular-design {
            display: block;
            top: func.pixel-to-rem-convertor(1092);
            width: 6%;
            height: 10%;
            left: 0;
        }

        &__brand-images-wrapper {
            margin-top: func.pixel-to-rem-convertor(210);
            width: 80%;
            gap: clamp(
                func.pixel-to-rem-convertor(20),
                2vw,
                func.pixel-to-rem-convertor(30)
            );
        }

        &__brand-images {
            width: 90%;
        }

        &__brand-list {
            gap: clamp(
                func.pixel-to-rem-convertor(20),
                5vw,
                func.pixel-to-rem-convertor(30)
            );
        }

        &__brand-item {
            width: 25%;
        }

        &__button {
            max-width: 200px;
            padding: func.pixel-to-rem-convertor(18)
                func.pixel-to-rem-convertor(15);
        }
    }

    /* ------- Large Breakpoint (lg) ------- */

    @include mixin.media-query('lg') {
        &__design-info-wrapper {
            min-height: 500px;
            height: func.pixel-to-rem-convertor(600);
            max-width: 80vw;
            gap: func.pixel-to-rem-convertor(0);
            flex-direction: row-reverse;
            margin-top: func.pixel-to-rem-convertor(70);
        }

        &__design {
            width: 100%;
            left: 2.6vw;
            height: 71vh;
            background-size: 80vw;
        }

        &__design-images {
            margin-left: func.pixel-to-rem-convertor(28);
            height: 100%;
            gap: func.pixel-to-rem-convertor(30);
            width: 92%;
            padding: 0 func.pixel-to-rem-convertor(54);
            padding-top: func.pixel-to-rem-convertor(85);
            right: func.pixel-to-rem-convertor(120);
            top: func.pixel-to-rem-convertor(94);
        }

        &__design-images-left {
            width: 40%;
            z-index: 2;
            align-items: flex-end;
            gap: func.pixel-to-rem-convertor(40);
        }

        &__design-images-left-wrapper {
            width: 345px;
            max-width: 400px;
            aspect-ratio: 0.9 / 0.86;
        }

        &__design-images-left-travel {
            height: 100%;
            width: 100%;
        }

        &__design-images-left-send {
            padding: func.pixel-to-rem-convertor(25)
                func.pixel-to-rem-convertor(25);
            font-size: func.pixel-to-rem-convertor(30);
            left: 7%;
            top: 51%;
        }

        &__design-images-right {
            height: 100%;
            z-index: 1;
        }

        &__design-images-right-wrapper {
            width: 380px;
            max-width: 400px;
            padding-left: func.pixel-to-rem-convertor(32);
            margin-top: func.pixel-to-rem-convertor(135);
            height: 76%;
        }

        &__design-images-right-travel {
            height: 100%;
            width: 100%;
            right: func.pixel-to-rem-convertor(120);
        }

        &__design-images-right-location {
            bottom: 8vh;
            width: clamp(
                func.pixel-to-rem-convertor(140),
                15vw,
                func.pixel-to-rem-convertor(180)
            );
            border-radius: 30px;
            padding: func.pixel-to-rem-convertor(15)
                func.pixel-to-rem-convertor(10);
            gap: func.pixel-to-rem-convertor(10);
            font-size: func.pixel-to-rem-convertor(30);
            left: 15.5vw;
        }

        &__design-images-right-person {
            font-size: func.pixel-to-rem-convertor(30);
            padding: func.pixel-to-rem-convertor(25)
                func.pixel-to-rem-convertor(25);
            left: 7vw;
            top: 69vh;
        }

        &__info {
            height: 100%;
            width: 30%;
            align-items: flex-start;
            margin-top: func.pixel-to-rem-convertor(160);
            gap: func.pixel-to-rem-convertor(50);
        }

        &__info-heading {
            font-size: map.get(font.$hero-heading-font, 'lg', 'font-size');
            text-align: left;
            width: 450px;
        }

        &__info-detail {
            text-align: left;
            max-width: 350px;

            @include mixin.responsive-font-apply(
                font.$description-font,
                font.$font-inter
            );
        }

        &__info-badge {
            padding: func.pixel-to-rem-convertor(15)
                func.pixel-to-rem-convertor(40);
            font-size: func.pixel-to-rem-convertor(22);
        }

        &__info-button-wrapper {
            gap: func.pixel-to-rem-convertor(15);
            justify-content: flex-start;
        }

        &__triangular-design {
            display: block;
            height: 17%;
            width: 4%;
            top: func.pixel-to-rem-convertor(870);
        }

        &__brand-images-wrapper {
            width: 90%;
            margin-top: func.pixel-to-rem-convertor(374);
        }

        &__brand-list {
            flex-wrap: nowrap;
            width: 100%;
            gap: func.pixel-to-rem-convertor(10);
        }

        &__brand-images {
            max-width: func.pixel-to-rem-convertor(160);
        }
    }
}
