@use '../abstracts/mixins' as mixin;
@use '../abstracts/colors' as color;
@use '../base/typography' as font;
@use '../abstracts/functions' as func;
@use 'sass:map';

/* ------- Travel Point Section -------- */

.travel-point {
    @include mixin.flex-center;
    flex-direction: column;
    height: fit-content;
    position: relative;
    width: 100%;
    justify-content: space-evenly;
    padding: func.pixel-to-rem-convertor(60) 0;

    &__main-image {
        z-index: 1;
        width: 100%;
    }

    &__info {
        @include mixin.flex-center;
        justify-content: space-between;
        flex-direction: column;
        height: fit-content;
        width: 100%;
        padding: func.pixel-to-rem-convertor(50) func.pixel-to-rem-convertor(20);
        gap: func.pixel-to-rem-convertor(30);
    }

    &__tagline {
        color: color.$color-pink;
        letter-spacing: func.pixel-to-rem-convertor(3);
        width: 100%;
        text-align: center;
        @include mixin.responsive-font-apply(font.$section-tagline-font);
    }

    &__heading {
        color: color.$color-dark;
        text-align: center;
        @include mixin.responsive-font-apply(font.$section-heading-font);
    }

    &__description {
        color: color.$color-description;
        text-align: center;
        width: 95%;
        @include mixin.responsive-font-apply(
            font.$description-font,
            font.$font-inter
        );
    }

    &__cards-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        width: 100%;
        place-items: center;
    }

    &__card {
        @include mixin.flex-center;
        justify-content: center;
        position: relative;
        gap: func.pixel-to-rem-convertor(20);
        height: func.pixel-to-rem-convertor(150);
        width: 90%;
        padding: func.pixel-to-rem-convertor(20);
        border: 1px solid #1918251a;
        border-radius: 32px;
        flex-direction: column;

        &--badge::after {
            content: '';
            display: none;
            position: absolute;
            left: func.pixel-to-rem-convertor(100);
            width: 100px;
            height: 100px;
            background: url('/assets/images/travel-point-badge.png') no-repeat
                center / contain;
            z-index: 2;
        }
    }

    &__card-tagline {
        color: color.$color-orange;
        @include mixin.responsive-font-apply(font.$section-heading-font);
    }

    &__card-description {
        font-size: func.pixel-to-rem-convertor(18);
        font-family: font.$font-inter;
        color: color.$color-dark;
    }

    /* ------- Medium Breakpoint (md) ------- */

    @include mixin.media-query('md') {
        flex-direction: column;

        &__main-image {
            margin-top: func.pixel-to-rem-convertor(80);
            height: 80vw;
            width: 100%;
        }

        &__cards-wrapper {
            grid-template-columns: repeat(2, 1fr);
            gap: 1.5rem;
        }
    }

    /* ------- Large Breakpoint (lg) ------- */

    @include mixin.media-query('lg') {
        flex-direction: row;

        &__main-image {
            margin-top: func.pixel-to-rem-convertor(80);
            height: 45vw;
            width: 60vw;
        }

        &__info {
            align-items: flex-start;
            gap: func.pixel-to-rem-convertor(40);
            padding: 0;
        }

        &__tagline {
            text-align: left;
        }

        &__heading {
            text-align: left;
            width: 90%;
        }

        &__description {
            text-align: left;
            width: 450px;
        }

        &__cards-wrapper {
            max-width: 650px;
            gap: 2rem;
            place-items: flex-start;
        }

        &__card {
            height: 170px;
            width: 100%;

            &--badge::after {
                display: flex;
                left: 13vw;
                bottom: 120px;
            }
        }
    }
}
