@use '../abstracts/mixins' as mixin;
@use '../abstracts/colors' as color;
@use '../base/typography' as font;
@use '../abstracts/functions' as func;

/* ------- Travel Point Section -------- */

.travel-point {
    @include mixin.flex-center(center, space-evenly, column);
    height: fit-content;
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: func.pixel-to-rem-convertor(20) 0;
    margin-top: func.pixel-to-rem-convertor(80);

    &__main-image {
        z-index: 1;
        width: 100%;
    }

    &__info {
        height: fit-content;
        width: 100%;
        padding: func.pixel-to-rem-convertor(25) func.pixel-to-rem-convertor(20);
        gap: func.pixel-to-rem-convertor(22);
        @include mixin.flex-center(center, space-between, column);
    }

    &__tagline {
        color: color.$color-pink;
        letter-spacing: func.pixel-to-rem-convertor(3);
        width: 100%;
        text-align: center;
        @include mixin.responsive-font-apply(font.$section-tagline-font);
    }

    &__heading {
        color: color.$color-dark;
        text-align: center;
        @include mixin.responsive-font-apply(font.$section-heading-font);
    }

    &__description {
        color: color.$color-description;
        text-align: center;
        width: 95%;
        padding-top: func.pixel-to-rem-convertor(10);
        @include mixin.responsive-font-apply(font.$description-font);
    }

    &__cards-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        padding-top: func.pixel-to-rem-convertor(10);
        width: 100%;
        place-items: center;
    }

    /* ------- Medium Breakpoint (md) ------- */

    @include mixin.media-query('md') {
        @include mixin.flex-center(center, center, column);
        padding: func.pixel-to-rem-convertor(10) 0;
        margin-top: 0;

        &__info {
            padding: func.pixel-to-rem-convertor(60)
                func.pixel-to-rem-convertor(20);
            gap: func.pixel-to-rem-convertor(23);
        }

        &__main-image {
            margin-top: func.pixel-to-rem-convertor(110);
            height: 80vw;
            width: 100%;
        }

        &__cards-wrapper {
            grid-template-columns: repeat(2, 1fr);
            padding: 0 func.pixel-to-rem-convertor(40);
            margin-top: func.pixel-to-rem-convertor(50);
            gap: 2rem;
        }

        &__description {
            padding-top: 0;
        }
    }

    /* ------- Large Breakpoint (lg) ------- */

    @include mixin.media-query('lg') {
        @include mixin.flex-center;
        padding: func.pixel-to-rem-convertor(60) 0;
        margin-top: func.pixel-to-rem-convertor(0);

        &__main-image {
            margin-top: func.pixel-to-rem-convertor(80);
            max-height: func.pixel-to-rem-convertor(900);
            height: 49vw;
            width: 63vw;
            max-width: func.pixel-to-rem-convertor(1100);
        }

        &__info {
            align-items: flex-start;
            gap: func.pixel-to-rem-convertor(35);
            padding: 0;
        }

        &__tagline {
            text-align: left;
        }

        &__heading {
            text-align: left;
            width: 80%;
        }

        &__description {
            text-align: left;
            width: func.pixel-to-rem-convertor(500);
        }

        &__cards-wrapper {
            max-width: func.pixel-to-rem-convertor(590);
            // margin-top: func.pixel-to-rem-convertor(100);
            gap: 2rem;
            place-items: flex-start;
            padding: 0;
        }
    }
}
