@use 'sass:map';
@use 'variables' as var;

@mixin media-query($name) {
    @media (min-width: #{map.get(var.$breakpoints, $name)}) {
        @content;
    }
}

@mixin typography($font-map) {
    @each $breakpoint in ('sm', 'md', 'lg') {
        $size: map.get(var.$breakpoints, $breakpoint);

        @media (min-width: #{$size}) {
            font-size: map.get($font-map, $breakpoint, 'size');
            line-height: map.get($font-map, $breakpoint, 'line-height');
        }
    }
}
