@use 'sass:map';
@use 'variables' as var;
@use 'colors' as color;
@use '../base/typography' as font;

@mixin sm {
    $size: map.get(var.$breakpoints, 'sm');

    @media (max-width: #{$size}) {
        @content;
    }
}

@mixin md {
    $size: map.get(var.$breakpoints, 'md');

    @media (max-width: #{$size}) {
        @content;
    }
}

@mixin lg {
    $size: map.get(var.$breakpoints, 'lg');

    @media (min-width: #{$size}) {
        @content;
    }
}

@mixin flex-center {
    display: flex;
    align-items: center;
}

@mixin button-primary {
    @content;
    border: none;
    border-radius: 30px;
    font-family: font.$font-circularStd-bold;
    outline: none;
    font-size: map.get(var.$font-sizes, 'text-primary-size');
    height: 49px;
    cursor: pointer;

    &:hover {
        transition: all 0.2s ease-in-out;
    }
}
