@use '../base/typography' as *;

/* Breakpoints variables for the device viewports */
$breakpoint-sm: 430px; // Mobile version
$breakpoint-md: 1024px; // Tablet version

/* Colors */
$color-text-primary: #191825;
$color-text-secondary: #f85e9f;
$color-text-orange: #ff5722;
$button-primary: #5d50c6;
$color-bg: #ffffff;

/* Typography */
$font-inter: 'Inter', sans-serif, arial;
$font-circularStd-light: 'Circular-Std-Light', sans-serif, arial;
$font-circularStd-bold: 'Circular-Std-Bold', sans-serif, arial;
$font-secondary-size: 0.8rem;
