@use 'sass:map';
@use '../abstracts/mixins' as bp;
@use '../abstracts/colors' as color;
@use '../base/typography' as font;

.no-scroll {
    overflow: hidden;
}

.header {
    @include bp.flex-center;
    position: relative;
    box-sizing: border-box;
    justify-content: space-between;
    min-height: 80px;
    width: calc(100% - 33.71px);
    justify-content: space-between;

    &__background {
        position: fixed;
        opacity: 0.35;
        transition: all 0.3s ease-in-out;
        z-index: -1;
        pointer-events: none;

        @include bp.sm {
            top: 36px;
            left: 0px;
            width: 272px;
            height: 348px;
            background-color: map.get(color.$theme-colors, 'text-orange');
            filter: blur(130px);
        }

        @include bp.md {
            top: 0px;
            left: 0px;
            width: 500px;
            height: 500px;
            background-color: map.get(color.$theme-colors, 'text-orange');
            filter: blur(130px);
        }

        @include bp.lg {
            top: 8px;
            left: 0px;
            width: 503px;
            height: 494px;
            background-color: map.get(color.$theme-colors, 'text-orange');
            filter: blur(130px);
        }
    }

    &__logo {
        @include bp.flex-center;
        display: flex;
        height: 40px;
        width: 40px;
        z-index: 2;
        flex-shrink: 0;

        @include bp.md {
            display: none;
        }

        @include bp.sm {
            margin-left: auto;
            display: block;
        }
    }

    &__toggle {
        @include bp.flex-center;
        display: flex;
        justify-content: center;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        z-index: 3;

        @include bp.lg {
            display: none;
        }
    }

    &__nav {
        @include bp.flex-center;
        display: none;
        min-width: 50%;
        font-family: font.$font-circularStd-bold;

        @include bp.lg {
            display: flex;
        }
    }

    &__nav-list {
        @include bp.flex-center;
        list-style-type: none;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }

    &__dropdown {
        display: none;
        box-sizing: border-box;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 30px;
        padding: 20px 40px;
        background-color: map.get(color.$theme-colors, 'color-bg');
        transition: all 0.3s ease-in-out;

        &--is-open {
            display: flex;
            opacity: 1;
            visibility: visible;
        }

        @include bp.sm {
            position: absolute;
            width: 100%;
            max-width: 100%;
            min-height: auto;
            max-height: calc(100% - 80px);
            overflow-y: auto;
            overflow-x: hidden;
            bottom: 0;
            left: 0;
        }

        @include bp.md {
            position: fixed;
            inset: 0;
            width: 100%;
            height: 100%;
            padding: 110px 40px 40px;
            overflow-y: auto;
            z-index: 2;
        }

        @include bp.lg {
            display: none;
        }
    }

    &__dropdown-brand {
        display: none;
        align-items: center;
        gap: 12px;
        align-self: flex-start;

        @include bp.md {
            display: flex;
            position: absolute;
            top: 40px;
            right: 40px;
        }
    }

    &__dropdown-logo {
        height: 40px;
        width: 40px;
        flex-shrink: 0;

        @include bp.md {
            display: block;
        }

        @include bp.sm {
            display: none;
        }
    }

    &__dropdown-name {
        font-family: font.$font-circularStd-bold;
        font-size: 1.25rem;
        color: map.get(color.$theme-colors, 'text-primary');

        @include bp.md {
            display: block;
        }

        @include bp.sm {
            display: none;
        }
    }

    &__dropdown-list {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-family: font.$font-circularStd-light;
        font-size: 1.2rem;

        @include bp.sm {
            padding-bottom: 16px;
        }
    }

    &__dropdown-item {
        @include bp.md {
            width: 100%;
            text-align: center;
            border-bottom: 1px solid rgba(25, 24, 37, 0.08);

            &:first-child {
                border-top: 1px solid rgba(25, 24, 37, 0.08);
            }
        }
    }

    &__dropdown-link {
        display: block;
        width: 100%;

        @include bp.md {
            padding: 18px 0px;
        }

        @include bp.sm {
            padding: 16px 0px;
        }
    }

    &__actions {
        display: flex;
        gap: 10px;

        &--dropdown {
            flex-direction: column;
            width: 100%;

            @include bp.sm {
                visibility: hidden;
                pointer-events: none;
            }

            @include bp.md {
                visibility: visible;
                pointer-events: auto;
            }
        }

        &--tablet {
            @include bp.flex-center;
            flex-direction: row;
            width: fit-content;

            @include bp.sm {
                display: none;
            }
        }
    }

    &__button {
        &--signup,
        &--login {
            @include bp.button-primary {
                background-color: map.get(color.$theme-colors, 'btn-primary');
                color: map.get(color.$theme-colors, 'text-white');
                width: 100%;
            }

            @include bp.md {
                display: none;
            }

            @include bp.sm {
                display: block;
            }
        }

        &--signup-tablet {
            @include bp.button-primary {
                background-color: map.get(color.$theme-colors, 'btn-primary');
                color: map.get(color.$theme-colors, 'text-white');
                max-width: 130px;
            }

            @include bp.md {
                padding: 10px 15px;
                width: 90px;
            }

            @include bp.lg {
                padding: 16px 32px;
            }

            &:hover {
                background-color: #4c3ebc;
            }
        }

        &--login-tablet {
            @include bp.button-primary {
                background-color: transparent;
                color: map.get(color.$theme-colors, 'text-primary');
                max-width: 130px;
            }

            @include bp.md {
                padding: 10px 15px;
                width: 90px;
                color: map.get(color.$theme-colors, 'text-primary');
            }

            @include bp.lg {
                padding: 16px 32px;
                color: map.get(color.$theme-colors, 'text-primary');
            }

            &:hover {
                background-color: rgb(227, 242, 255);
            }
        }
    }

    @include bp.sm {
        align-items: center;
        max-width: 100%;

        .header__toggle {
            order: 1;
        }

        .header__logo {
            order: 2;
        }
    }

    @include bp.md {
        align-items: center;

        .header__toggle {
            order: 1;
        }

        .header__actions--tablet {
            order: 2;
        }
    }

    @include bp.lg {
        max-width: 95%;
        padding: 20px 40px;
    }
}
