@use 'sass:map';
@use '../abstracts/mixins' as mixin;
@use '../abstracts/colors' as color;
@use '../base/typography' as font;

.no-scroll {
    overflow: hidden;
}

.home-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
}

.header {
    @include mixin.flex-center;
    position: relative;
    box-sizing: border-box;
    justify-content: space-between;
    min-height: 80px;
    width: calc(100% - 33.71px);

    &__background {
        position: fixed;
        opacity: 0.35;
        transition: all 0.3s ease-in-out;
        z-index: -1;
        pointer-events: none;

        @include mixin.media-query('sm') {
            top: 0px;
            right: 130px;
            width: 302px;
            height: 408px;
            background-color: color.$color-orange;
            filter: blur(90px);
        }

        @include mixin.media-query('md') {
            top: 0px;
            left: 0px;
            width: 500px;
            height: 500px;
            background-color: color.$color-orange;
            filter: blur(130px);
        }

        @include mixin.media-query('lg') {
            top: 8px;
            left: 0px;
            width: 503px;
            height: 494px;
            background-color: color.$color-orange;
            filter: blur(130px);
        }
    }

    &__logo {
        @include mixin.flex-center;
        display: flex;
        z-index: 2;
        flex-shrink: 0;
        justify-content: center;
        cursor: pointer;

        @include mixin.media-query('sm') {
            margin-left: auto;
            display: block;
        }

        @include mixin.media-query('md') {
            display: none;
        }

        @include mixin.media-query('lg') {
            display: block;
            margin-left: 0;
        }
    }

    &__logo-image {
        height: 40px;
        width: 40px;
        object-fit: contain;
        object-position: center;
    }

    &__toggle {
        @include mixin.flex-center;
        display: flex;
        justify-content: center;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        z-index: 3;
        font-size: font.$font-size-md;

        @include mixin.media-query('lg') {
            display: none;
        }
    }

    &__nav {
        @include mixin.flex-center;
        display: none;
        min-width: 50%;

        @include mixin.media-query('lg') {
            display: flex;
        }
    }

    &__nav-list {
        @include mixin.flex-center;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }

    &__dropdown {
        display: none;
        box-sizing: border-box;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 30px;
        padding: 20px 40px;
        background-color: color.$color-white;
        transition: all 0.3s ease-in-out;

        &--is-open {
            display: flex;
            opacity: 1;
            visibility: visible;
        }

        @include mixin.media-query('sm') {
            position: fixed;
            top: 0px;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            padding-top: 100px;
            overflow-y: auto;
            overflow-x: hidden;
            z-index: 2;
        }

        @include mixin.media-query('md') {
            position: fixed;
            inset: 0;
            width: 100%;
            height: 100%;
            padding: 110px 40px 40px;
            overflow-y: auto;
            z-index: 2;
        }

        @include mixin.media-query('lg') {
            display: none;
        }
    }

    &__dropdown-list-wrapper {
        margin-top: 30px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__dropdown-brand {
        display: none;
        align-items: center;
        gap: 12px;
        align-self: flex-start;

        @include mixin.media-query('md') {
            display: flex;
            position: absolute;
            top: 40px;
            right: 40px;
        }
    }

    &__dropdown-logo {
        height: 40px;
        width: 40px;
        flex-shrink: 0;
        display: none;

        @include mixin.media-query('md') {
            display: block;
        }
    }

    &__dropdown-name {
        font-family: font.$font-circularStd-bold;
        font-size: font.$font-size-md;
        color: color.$color-dark;
        display: none;
        font-weight: 700;

        @include mixin.media-query('md') {
            display: block;
        }
    }

    &__dropdown-list {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: font.$font-size-md;

        @include mixin.media-query('sm') {
            padding-bottom: 16px;
        }
    }

    &__dropdown-item {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid rgba(25, 24, 37, 0.08);
        font-weight: 400;

        &:first-child {
            border-top: 1px solid rgba(25, 24, 37, 0.08);
        }
    }

    &__dropdown-link {
        display: block;
        font-family: font.$font-circularStd-light;
        width: 100%;

        @include mixin.media-query('md') {
            padding: 18px 0px;
        }

        @include mixin.media-query('sm') {
            padding: 16px 0px;
        }
    }

    &__actions {
        display: flex;
        gap: 10px;

        &--dropdown {
            flex-direction: column;
            width: 100%;

            @include mixin.media-query('md') {
                display: none;
            }

            @include mixin.media-query('sm') {
                display: flex;
            }
        }

        &--tablet {
            @include mixin.flex-center;
            flex-direction: row;
            width: fit-content;

            @include mixin.media-query('sm') {
                display: none;
            }

            @include mixin.media-query('md') {
                display: flex;
            }
        }
    }

    @include mixin.media-query('sm') {
        align-items: center;
        max-width: 100%;

        .header__toggle {
            order: 1;
            font-size: font.$font-size-icon;
        }

        .header__logo {
            order: 2;
        }
    }

    @include mixin.media-query('md') {
        align-items: center;

        .header__toggle {
            order: 1;
            font-size: font.$font-size-icon;
        }

        .header__actions--tablet {
            order: 2;
        }
    }

    @include mixin.media-query('lg') {
        max-width: 95%;
        padding: 20px 40px;

        .header__toggle {
            order: 0;
            font-size: font.$font-size-icon;
        }

        .header__logo {
            order: 0;
        }

        .header__actions--tablet {
            order: 0;
        }
    }
}
