@use '../abstracts/functions' as func;
@use '../abstracts/colors' as color;

.no-scroll {
    overflow: hidden;
}

.display-flex {
    display: flex;
}

.hidden {
    display: none;
}

.section-container {
    width: 100%;
    max-width: func.pixel-to-rem-convertor(1850);
    height: fit-content;
    flex-direction: column;
    gap: func.pixel-to-rem-convertor(30);
}

.overlay {
    position: fixed;
    inset: 0;
    background-color: color.$color-black-transparent;
    z-index: 4;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    height: 100vh;
    transition:
        opacity 0.3s ease,
        visibility 0.3s ease;

    &--active {
        opacity: 1;
        visibility: visible;
    }
}
