@use '../abstracts/functions' as func;

.no-scroll {
    overflow: hidden;
}

.display-flex {
    display: flex;
}

.hidden {
    display: none;
}

.section-container {
    width: 100%;
    max-width: func.pixel-to-rem-convertor(1850);
    height: fit-content;
    flex-direction: column;
    gap: func.pixel-to-rem-convertor(30);
}
