@use '../abstracts/functions' as func;

.no-scroll {
    overflow: hidden;
}

.home-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: func.pixel-to-rem-convertor(20) func.pixel-to-rem-convertor(20);
}

.hidden {
    display: none;
}
