@use '../abstracts/colors' as color;

.nav-link {
    color: color.$color-primary;
    text-decoration: none;
    transition: color 0.2s ease-in-out;

    &--primary {
        &:hover {
            color: color.$color-dark;
        }

        &:focus {
            color: color.$color-primary;
        }
    }

    &--active {
        color: color.$color-dark;
    }
}
