// @use 'sass:map';
// @use '../abstracts/variables' as var;
// @use '../abstracts/colors' as color;
// @use '../abstracts/mixins' as mixin;
// @use '../abstracts/functions' as func;
// @use '../base/typography' as font;

// .btn {
//     border: none;
//     border-radius: var.$btn-radius;
//     font-family: font.$font-circular-std;
//     font-weight: 700;
//     font-size: func.pixel-to-rem-convertor(14);
//     transition: background-color 0.2s ease-in-out;
//     padding: func.pixel-to-rem-convertor(15) func.pixel-to-rem-convertor(15);

//     &:hover {
//         transform: scale(105%);
//         transition: all 0.2s ease-in-out;
//     }

//     &:focus-visible {
//         outline: 2px solid color.$color-primary;
//         outline-offset: 2px;
//     }

//     &--primary {
//         background-color: color.$color-primary;
//         color: color.$color-white;
//         box-shadow: 0px 12px 24px 0px rgba(color.$color-dark, 0.3);

//         &:hover {
//             background-color: color.$color-primary-dark;
//         }
//     }

//     &--transparent {
//         @include mixin.flex-center;
//         justify-content: center;
//         background-color: transparent;
//         color: color.$color-dark;

//         &:hover {
//             background-color: color.$color-primary-light;
//         }

//         &-hero-section-button {
//             @include mixin.media-query('md') {
//                 max-width: 200px;
//                 outline: 1px solid #EEEEEE;
//                 width: 170px;
//             }

//             @include mixin.media-query('sm') {
//                 outline: 1px solid #EEEEEE;
//                 width: 100%;
//                 gap: 10px;
//             }
//         }
//     }

//     &--full-width {
//         width: 100%;
//     }

//     &--compact {
//         width: auto;
//         min-width: func.pixel-to-rem-convertor(111);
//         padding: func.pixel-to-rem-convertor(17) func.pixel-to-rem-convertor(15);

//         @include mixin.media-query('lg') {
//             min-width: func.pixel-to-rem-convertor(140);
//             padding: func.pixel-to-rem-convertor(19)
//                 func.pixel-to-rem-convertor(20);
//         }
//     }
// }

@use 'sass:map';
@use '../abstracts/variables' as var;
@use '../abstracts/colors' as color;
@use '../abstracts/mixins' as mixin;
@use '../abstracts/functions' as func;
@use '../base/typography' as font;

.btn {
    border: none;
    border-radius: var.$btn-radius;
    font-family: font.$font-circular-std;
    font-weight: font.$font-bold;
    font-size: func.pixel-to-rem-convertor(14);
    transition: background-color 0.2s ease-in-out;
    padding: func.pixel-to-rem-convertor(15);

    &:hover {
        transform: scale(1.05);
    }

    &:focus-visible {
        outline: 2px solid color.$color-primary;
        outline-offset: 2px;
    }

    &--primary {
        background-color: color.$color-primary;
        color: color.$color-white;
        box-shadow: 0px 12px 24px 0px rgba(color.$color-dark, 0.3);

        &:hover {
            background-color: color.$color-primary-dark;
        }
    }

    &--transparent {
        @include mixin.flex-center;
        justify-content: center;
        background-color: transparent;
        color: color.$color-dark;

        &:hover {
            background-color: color.$color-primary-light;
        }
    }

    &--full-width {
        width: 100%;
    }

    &--compact {
        // Min width needed to make the button of fixed size for the md and lg mode and padding for pixel perfect
        min-width: func.pixel-to-rem-convertor(111);
        padding: func.pixel-to-rem-convertor(17) func.pixel-to-rem-convertor(15);
    }
}
