@use 'sass:map';
@use '../abstracts/variables' as var;
@use '../abstracts/colors' as color;
@use '../abstracts/mixins' as mixin;
@use '../abstracts/functions' as func;
@use '../base/typography' as font;

.btn {
    @include mixin.flex-center;
    border-radius: var.$btn-radius;
    font-size: func.pixel-to-rem-convertor(12);
    transition: all 0.2s ease-in-out;
    padding: func.pixel-to-rem-convertor(20);
    width: 100%;
    gap: func.pixel-to-rem-convertor(10);

    &:hover {
        transform: scale(1.05);
    }

    &:focus-visible {
        outline: 2px solid color.$color-primary;
        outline-offset: 2px;
    }

    &--primary {
        background-color: color.$color-primary;
        color: color.$color-white;
        box-shadow: 0px 12px 24px 0px rgba(color.$color-dark, 0.3);

        &:hover {
            background-color: color.$color-primary-dark;
        }
    }

    &--transparent {
        background-color: transparent;

        &:hover {
            background-color: color.$color-primary-light;
        }
    }

    &__icon {
        font-size: func.pixel-to-rem-convertor(22);
    }

    &--border {
        border: 1px solid color.$color-outline;
    }

    @include mixin.media-query('md') {
        width: func.pixel-to-rem-convertor(151);
        padding: func.pixel-to-rem-convertor(17) func.pixel-to-rem-convertor(15);
    }
}
