@use 'sass:map';
@use '../abstracts/variables' as var;
@use '../abstracts/colors' as color;
@use '../abstracts/mixins' as mixin;
@use '../abstracts/functions' as func;
@use '../base/typography' as font;

.btn {
    border: none;
    border-radius: var.$btn-radius;
    font-family: font.$font-circular-std-bold;
    font-size: func.pixel-to-rem-convertor(14);
    transition: all 0.2s ease-in-out;
    padding: 15px 15px;

    &:focus-visible {
        outline: 2px solid color.$color-primary;
        outline-offset: 2px;
    }

    &--primary {
        background-color: color.$color-primary;
        color: color.$color-white;

        &-dropdown-button {
            width: 100%;

            @include mixin.media-query('sm') {
                display: block;
            }
            @include mixin.media-query('md') {
                display: none;
            }
        }

        &-tablet-button {
            width: 100%;
            max-width: 130px;
            padding: 18px 15px;

            @include mixin.media-query('sm') {
                display: none;
            }

            @include mixin.media-query('md') {
                display: block;
                width: 110px;
            }

            @include mixin.media-query('lg') {
                display: block;
            }
        }

        &:hover {
            background-color: color.$color-btn-dark;
        }
    }

    &--transparent {
        background-color: transparent;
        color: color.$color-dark;

        &:hover {
            background-color: color.$color-btn-light;
        }
    }
}
