@use 'sass:map';
@use '../abstracts/colors' as color;
@use '../abstracts/mixins' as bp;

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var.$color-bg;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
}

a {
    color: var.$font-links-notFocused;
    text-decoration: none;
    transition: color 0.2s ease-in-out;

    &:hover {
        // color: map.get(color.$theme-colors, 'text-primary');
        color: var.$color-text-primary;
    }

    &:active {
        pointer-events: none;
    }

    &:focus {
        color: map.get(color.$theme-colors, 'text-primary');
    }
}

button {
    background: none;
    border: none;
    cursor: pointer;
}
