@use '../abstracts/colors' as color;
@use '../abstracts/mixins' as mixin;
@use '../base/typography' as font;

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

body {
    @include mixin.flex-center(center, center, column);
    background-color: color.$color-white;
    font-family: font.$font-circular-std;
}

dialog {
    border: none;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
