@use 'sass:map';
@use '../abstracts/colors' as color;

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: color.$color-white;
}

dialog {
    border: none;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
