@use '../abstracts/functions' as func;

$font-inter: 'Inter', 'arial', sans-serif;
$font-circular-std: 'Circular-Std', 'arial', sans-serif;
$font-bold: 700;

$hero-heading-font: (
    'sm': (
        'font-size': func.pixel-to-rem-convertor(40),
        'font-line-height': 1.2,
    ),
    'md': (
        'font-size': func.pixel-to-rem-convertor(56),
        'font-line-height': 1.2,
    ),
    'lg': (
        'font-size': func.pixel-to-rem-convertor(69),
        'font-line-height': 1.2,
    ),
);

$description-font: (
    'sm': (
        'font-size': func.pixel-to-rem-convertor(16),
        'font-line-height': 1.6,
    ),
    'md': (
        'font-size': func.pixel-to-rem-convertor(18),
        'font-line-height': 1.6,
    ),
);

$section-tagline-font: (
    'sm': (
        'font-size': func.pixel-to-rem-convertor(16),
        'font-line-height': 1.2,
    ),
    'md': (
        'font-size': func.pixel-to-rem-convertor(23),
        'font-line-height': 1.2,
    ),
);

$section-heading-font: (
    'sm': (
        'font-size': func.pixel-to-rem-convertor(32),
        'font-line-height': 1.2,
    ),
    'md': (
        'font-size': func.pixel-to-rem-convertor(40),
        'font-line-height': 1.2,
    ),
    'lg': (
        'font-size': func.pixel-to-rem-convertor(44),
        'font-line-height': 1.2,
    ),
);

$testimonial-description-font: (
    'sm': (
        'font-size': func.pixel-to-rem-convertor(18),
        'font-line-height': 1.6,
    ),
    'md': (
        'font-size': func.pixel-to-rem-convertor(23),
        'font-line-height': 1.6,
    ),
);

@font-face {
    font-family: 'Circular-Std';
    src: url('/assets/fonts/circular-std-font-family/CircularStd-Bold.woff2')
        format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/inter/Inter_18pt-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
