@use '../abstracts/functions' as func;

$font-inter: 'Inter', 'arial', sans-serif;
$font-circular-std: 'Circular-Std', 'arial', sans-serif;

$hero-heading-font: (
    'sm': (
        'font-size': func.pixel-to-rem-convertor(40),
        'font-line-height': 1.2,
    ),
    'md': (
        'font-size': func.pixel-to-rem-convertor(56),
        'font-line-height': 1.2,
    ),
    'lg': (
        'font-size': func.pixel-to-rem-convertor(85),
        'font-line-height': 1.2,
    ),
);

$description-font: (
    'font-family': $font-inter,
    'sm': (
        'font-size': func.pixel-to-rem-convertor(16),
        'font-line-height': 1.6,
    ),
    'md': (
        'font-size': func.pixel-to-rem-convertor(18),
        'font-line-height': 1.6,
    ),
);

$section-tagline-font: (
    'sm': (
        'font-size': func.pixel-to-rem-convertor(16),
        'font-line-height': 1.2,
    ),
    'md': (
        'font-size': func.pixel-to-rem-convertor(26),
        'font-line-height': 1.2,
    ),
);

$section-heading-font: (
    'sm': (
        'font-size': func.pixel-to-rem-convertor(32),
        'font-line-height': 1.2,
    ),
    'md': (
        'font-size': func.pixel-to-rem-convertor(40),
        'font-line-height': 1.2,
    ),
    'lg': (
        'font-size': func.pixel-to-rem-convertor(57),
        'font-line-height': 1.2,
    ),
);

$testimonial-description-font: (
    'font-family': $font-inter,
    'sm': (
        'font-size': func.pixel-to-rem-convertor(18),
        'font-line-height': 1.6,
    ),
    'md': (
        'font-size': func.pixel-to-rem-convertor(23),
        'font-line-height': 1.6,
    ),
);

$footer-description-font: (
    'font-family': $font-inter,
    'sm': (
        'font-size': func.pixel-to-rem-convertor(16),
        'font-line-height': 1.6,
    ),
    'md': (
        'font-size': func.pixel-to-rem-convertor(20),
        'font-line-height': 1.6,
    ),
    'lg': (
        'font-size': func.pixel-to-rem-convertor(28),
        'font-line-height': 1.6,
    ),
);

$mini-font: (
    'font-family': $font-inter,
    'sm': (
        'font-size': func.pixel-to-rem-convertor(12),
        'font-line-height': 1.6,
    ),
);

$description-micro: (
    'font-family': $font-inter,
    'sm': (
        'font-size': func.pixel-to-rem-convertor(14),
        'font-line-height': 1.6,
    ),
);

$title-micro: (
    'font-family': $font-inter,
    'sm': (
        'font-size': func.pixel-to-rem-convertor(20),
        'font-line-height': 1.6,
    ),
);

$info-font: (
    'sm': (
        'font-size': func.pixel-to-rem-convertor(25),
        'font-line-height': 1.6,
    ),
    'md': (
        'font-size': func.pixel-to-rem-convertor(28),
        'font-line-height': 1.6,
    ),
    'lg': (
        'font-size': func.pixel-to-rem-convertor(30),
        'font-line-height': 1.6,
    ),
);

$stars-font: (
    'sm': (
        'font-size': func.pixel-to-rem-convertor(30),
        'font-line-height': 1.6,
    ),
    'md': (
        'font-size': func.pixel-to-rem-convertor(40),
        'font-line-height': 1.6,
    ),
);

$description-medium: (
    'font-family': $font-inter,
    'sm': (
        'font-size': func.pixel-to-rem-convertor(18),
        'font-line-height': 1.6,
    ),
);

$tagline-medium: (
    'font-family': $font-inter,
    'sm': (
        'font-size': func.pixel-to-rem-convertor(18),
        'font-line-height': 1.6,
    ),
);

$item-font: (
    'sm': (
        'font-size': func.pixel-to-rem-convertor(16),
        'font-line-height': 1.6,
    ),
    'lg': (
        'font-size': func.pixel-to-rem-convertor(20),
        'font-line-height': 1.6,
    ),
);

$social-links-font: (
    'sm': (
        'font-size': func.pixel-to-rem-convertor(30),
        'font-line-height': 1.6,
    ),
    'lg': (
        'font-size': func.pixel-to-rem-convertor(40),
        'font-line-height': 1.6,
    ),
);

$logo-title-font: (
    'sm': (
        'font-size': func.pixel-to-rem-convertor(24),
        'font-line-height': 1.6,
    ),
    'lg': (
        'font-size': func.pixel-to-rem-convertor(30),
        'font-line-height': 1.6,
    ),
);

$icon-font: (
    'sm': (
        'font-size': func.pixel-to-rem-convertor(14),
        'font-line-height': 1.6,
    ),
    'lg': (
        'font-size': func.pixel-to-rem-convertor(40),
        'font-line-height': 1.6,
    ),
);

$detail-font: (
    'sm': (
        'font-size': func.pixel-to-rem-convertor(10),
        'font-line-height': 1.6,
    ),
    'md': (
        'font-size': func.pixel-to-rem-convertor(14),
        'font-line-height': 1.6,
    ),
);

$send-font: (
    'md': (
        'font-size': func.pixel-to-rem-convertor(35),
        'font-line-height': 1.6,
    ),
    'lg': (
        'font-size': func.pixel-to-rem-convertor(40),
        'font-line-height': 1.6,
    ),
);

$nav-font: (
    'sm': (
        'font-size': func.pixel-to-rem-convertor(15),
        'font-line-height': 1.6,
    ),
    'lg': (
        'font-size': func.pixel-to-rem-convertor(35),
        'font-line-height': 1.6,
    ),
);

@font-face {
    font-family: 'Circular-Std';
    src: url('/assets/fonts/circular-std-font-family/CircularStd-Bold.woff2')
        format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/inter/Inter_18pt-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
